html{
  font-family: "San Francisco";
  background-color: white;
  color: black;
  text-align:center;
  background-size:auto;
  background-repeat: no-repeat;
}

img{
  max-width: 40%;
  max-height: 40%;
  border-radius:20%;
}

.addicon{
  height: 10%;
  width: 10%;
}

#coffeeicon {
  color: black;
  font-size: 40px;
  text-align:center;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
