html{
font-family: calibri;
background-color: white;
background-image: linear-gradient(#ffffff, #F5F5F5);
color: black;
text-align:center;
background-size:auto;
background-repeat: no-repeat;
}

img{
  max-width: 50%;
  max-height: 50%;
}
